body {
  font-family: Arial, sans-serif;
  background-color: #e1e1eb;
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
  color: #333;
}

nav {
  background-color: #2f2bff;
  padding: 10px 0;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
}

nav ul li {
  margin: 0 15px;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-size: 18px;
}

nav ul li a:hover {
  text-decoration: underline;
}

.container {
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin: 20px;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.title {
  color: #3ec742;
  font-size: 24px;
  margin-bottom: 10px;
}

p {
  color: #1f0101;
  margin: 8px 0;
}

p strong {
  color: #333;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

form input,
form textarea {
  width: 80%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  border-radius: 4px;
}

form button {
  background-color: #4ebb51;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

form button:hover {
  background-color: #45a049;
}

button.update-button,
button.cancel-button,
button.edit-button,
button.delete-button {
  margin: 5px;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  border-radius: 5px;
}

.update-button {
  background-color: #4CAF50;
  color: white;
}

.update-button:hover {
  background-color: #45a049;
}

.cancel-button {
  background-color: #f44336;
  color: white;
}

.cancel-button:hover {
  background-color: #da190b;
}

.edit-button {
  background-color: #008CBA;
  color: white;
}

.edit-button:hover {
  background-color: #007bb5;
}

.delete-button {
  background-color: #3c0c08;
  color: white;
}

.delete-button:hover {
  background-color: #da190b;
}

h1 {
  margin-top: 20px;
}

ul {
  padding: 0;
  list-style-type: none;
}

li {
  margin: 10px 0;
}