

.hero {
  align-items: center;
  text-align: center;
}

.hero h2 {
  margin-bottom: 20px;
  font-size: 2.5em;
}

.hero-button {
  padding: 10px 20px;
  font-size: 1em;
  color: rgb(255, 255, 255);
  background-color: #ffffff;
  background-color: red;
  border-radius: 5px;
  cursor: pointer;
}

.hero-button:hover {
  background-color: #4b21f1;
}

