

.hero {
  align-items: center;
  text-align: center;
}

.hero h2 {
  margin-bottom: 20px;
  font-size: 2.5em;
}

.hero-button {
  padding: 10px 20px;
  font-size: 1em;
  color: rgb(0, 0, 0);
  background-color: #ffffff;
  background-color: chocolate;
  border-radius: 5px;
  cursor: pointer;
}

.hero-button:hover {
  background-color: #f12189;
}